<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <title>BabyCaring</title>
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
     <link rel="stylesheet" id="responsive-css-css" href="/css/responsive5152.css?ver=1.0" type="text/css" media="all">
    </head>
<body>

    <!-- Start of Header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="/" title="BabyCaring">
                        <img src="/images/logo.png" alt="BabyCaring">
                    </a>
                    <span class="tag-line">A perfect platform for sharing real life experience</span>
                </div>


                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Ask Question</a></li>
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/register">Register</a></li>
                
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->
            </div>
        </header>
    </div>
    <!-- End of Header -->

    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper2">
        <div class="search-area container2">
            <h3 class="search-header">Didn't find the answer to your question?</h3>
            <p class="search-tag-line">Simply ask a new question and get real experience!</p>
        </div>
    </div>
    <!-- End of Search Wrapper -->

        <!-- Start of Page Container -->
        <div class="page-container">
                <div class="container">
                        <div class="row">
                                <!-- start of page content -->
                                <div class="span8 page-content">
                                        <article class="type-page hentry clearfix">
                                                <h2 class="post-title">Consult An Expert</a></h2>
                                                <hr>
                                        </article>
                                        <!--form for make a post for expert-->
                                        <form id="contact-form" class="row" action="/createpost" method="post">
                                                <div class="span2">
                                                        <label for="name">Title <span>*</span></label>
                                                </div>
                                                <div class="span6">
                                                        <input type="text" name="title" id="name"
                                                                class="required input-xlarge" value=""
                                                                title="* Please provide your name">
                                                </div>
                                                <div class="span2">
                                                        <label for="email2">User Name <span>*</span></label>
                                                </div>
                                                <div class="span6">
                                                        <input type="text" name="name" id="email"
                                                                class="email required input-xlarge" value=""
                                                                title="* Please provide a valid email address">
                                                </div>
                                                <div class="span2">
                                                        <label for="message2">Content <span>*</span></label>
                                                </div>
                                                <div class="span5">
                                                        <textarea name="postcontent" id="message" class="required span5"
                                                                rows="5" title="* Please enter your message"></textarea>
                                                </div>
                                                <div class="span6 offset2 bm30">
                                                        <input type="submit" name="submit"
                                                                value="Send to Expert" class="btn btn-inverse">
                                                </div>
                                                <div class="span6 offset2 error-container"></div>
                                                <div class="span8 offset2" id="message-sent"></div>

                                        </form>
                                </div>
                                <!-- end of page content -->
                              
                              
                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">

                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">Expert</h3>
                            <p class="intro">No solution? If you need help from certified experts , click <a
                                    href="/askexpert">here</a> for consultation.</p>
                        </div>
                    </section>

                    <section class="widget">
                        <div class="quick-links-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul id="menu-quick-links" class="menu clearfix">
                                  <li><a href="/">Home</a></li>
                            <li><a href="/login">Ask Question</a></li>
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/register">Register</a></li>
                            </ul>
                        </div>
                    </section>
                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>

    <!-- End of Page Container -->

    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Why BabyCaring?</h3>
                        <div class="textwidget">
                            <p>Instead of drowning yourself into loads of unrelated information, Babycaring gives you an
                                opportunity to simply
                                search for your question by typing key words, and find related questions and answers.
                            </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Consultation</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>Do you need help from certified experts? Simply click <a href="/askexpert">here</a>
                                    to start your consultation!</li>
                            </ul>
                        </div>

                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>
                            <li><a href="#" title="Baby Growth">Baby Growth</a> </li>
                            <li><a href="#" title="Baby Photo Sharing">Baby Photo Sharing</a></li>
                            <li><a href="#" title="Baby Safety">Baby Safety</a></li>
                            <li><a href="#" title="Breastfeeding">Breastfeeding</a></li>

                        </ul>
                    </section>
                </div>


                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Ask Question</a></li>
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </div>
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright &copy; 2019.BabyCaring All rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->

</body>

</html>