<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>BabyCaring</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
</head>

<body>
    <!-- header -->
    <div class="header-wrapper">
        <header>
            <div class="container">
                <!--  navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li class="current-menu-item"><a href="/">Home</a></li>
                            <!--<li class="current-menu-item"><a href="/loggedin/createpost">New Post</a></li>-->
                        </ul>
                    </div>
                </nav>
                <!--  navigation ends-->
            </div>
        </header>
    </div>
    <!-- header ends -->

    <!-- Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area container">
            <h3 class="search-header">Have Questions About Caring Baby?</h3>
            <p class="search-tag-line">A perfect forum to search and exchange information about babies!</p>
            <form id="search-form" class="search-form clearfix" method="get" action="#">
                <input class="search-term required" type="text" id="s" name="s"
                    placeholder="Type your questions here for related answers..." title=" enter a search term!"
                    autocomplete="off">
                <input class="search-btn" type="submit" value="Let's go!">
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- Search Wrapper ends -->

    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <h1>Comment sucessfull!</h1>
            <a href="/"><input class="search-btn" type="submit" value="back to home page!"
                    style="margin-left: 45%;display:inline-block;"></a>
        </div>
    </div>
    <!-- end of page content -->


    <!-- start of sidebar -->
    <aside class="span4 page-sidebar">

        <section class="widget">
            <div class="support-widget">
                <h3 class="title">Support</h3>
                <p> </p>
                <br>
            </div>
        </section>
        <section class="widget">
            <h3 class="title">Starred Posts</h3>
            <ul class="articles">
                <li class="article-entry standard">
                    <h4><a href="/">More than baby talk: Why you need to learn to speak 'parentese'</a></h4>
                    <span class="article-meta">25 Feb, 2019 in <a href="#" title="author">By <span
                                id="authorname">Mike</span></a></span>
                </li>
                <li class="article-entry standard">
                    <h4><a href="/">More than baby talk: Why you need to learn to speak 'parentese'</a></h4>
                    <span class="article-meta">25 Feb, 2019 in <a href="#" title="author">By <span
                                id="authorname">Mike</span></a></span>
                </li>
                <li class="article-entry standard">
                    <h4><a href="/">More than baby talk: Why you need to learn to speak 'parentese'</a></h4>
                    <span class="article-meta">25 Feb, 2019 in <a href="#" title="author">By <span
                                id="authorname">Mike</span></a></span>
                </li>
                <li class="article-entry standard">
                    <h4><a href="/">More than baby talk: Why you need to learn to speak 'parentese'</a></h4>
                    <span class="article-meta">25 Feb, 2019 in <a href="#" title="author">By <span
                                id="authorname">Mike</span></a></span>
                </li>
            </ul>
        </section>
        <section class="widget">
            <h3 class="title">Categories</h3>
            <ul>
                <li><a href="#" title="topic categories">Mom with bady</a> </li>
                <li><a href="#" title="topic categories">Dad with bady</a> </li>
                <li><a href="#" title="topic categories">Babysitter</a> </li>

            </ul>
        </section>

    </aside>
    <!-- end of sidebar -->

    <!-- End of Page Container -->


    <!-- script -->
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/js/bootstrap.js">
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
</body>

</html>