<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>BabyCaring</title>
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/formstyle.css" type="text/css" media="all">
      <link rel="stylesheet" id="responsive-css-css" href="/css/responsive5152.css?ver=1.0" type="text/css" media="all">
</head>

<body>

    <!-- header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="/" title="BabyCaring">
                        <img src="/images/logo.png" alt="BabyCaring">
                    </a>
                    <span class="tag-line">A perfect platform for sharing real life experience</span>
                </div>

                <!--  navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/loggedin">Home</a></li>
                            <li><a href="/loggedin/createpost">Ask Question</a></li>
                            <li><a href="/logout">Log Out</a></li>
                            <li class="current-menu-item"><a href="/loggedin/profile">Edit Profile</a></li>
                        </ul>
                    </div>
                </nav>
                <!--  navigation ends-->

            </div>
        </header>
    </div>
    <!-- header ends -->

    <!-- Search Wrapper -->
    <div class="search-area-wrapper">

        <div class="search-area container">
            <h3 class="search-header">Have Questions About Your Baby?</h3>
            <p class="search-tag-line">Simply search and find real life solutions here!</p>
            <form id="search-form" class="search-form clearfix" method="get" action="/" autocomplete="off">
                <input class="search-term required" type="text" id="s" name="s" placeholder="Type your key word here"
                    title="* Please enter a search term!">
                <input class="search-btn" type="submit" value="Search">
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- Search Wrapper ends -->

    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">

                <!-- start of page content -->
                <div class="span8 page-content">

                    <article id="post-909" class="clearfix post-909 page type-page status-publish hentry">
                        <h1 class="post-title">Edit Profile</h1>
                        <hr>
                        <form id="login" action="/loggedin/profile" method="post"
                            class="wppb-user-forms wppb-register-user wppb-user-logged-out"
                            onsubmit="event.preventDefault(); validateMyForm();">
                            <ul>
                                <li class="wppb-form-field wppb-default-name-heading" id="wppb-form-element-1">
                                    <h4>Name</h4><span class="wppb-description-delimiter "></span>
                                </li>
                                <li class="wppb-form-field wppb-default-username" id="wppb-form-element-2">
                                    <label for="username">Username<span class="wppb-required"
                                            title="This field is required">*</span></label>
                                    <input class="text-input default_field_username " name="username" maxlength="70"
                                        type="text" id="username" value="" required="true"></li>
                                <li class="wppb-form-field wppb-default-contact-info-heading" id="wppb-form-element-7">
                                    <h4>Contact Info</h4><span class="wppb-description-delimiter "></span>
                                </li>
                                <li class="wppb-form-field wppb-default-e-mail" id="wppb-form-element-8">
                                    <label for="email">E-mail<span class="wppb-required"
                                            title="This field is required">*</span></label>
                                    <input class="text-input default_field_email " name="email" maxlength="70"
                                        type="email" id="email" value="" required="true"></li>
                                <li class="wppb-form-field wppb-default-password" id="wppb-form-element-12">

                                    <label for="passw1">Password<span class="wppb-required"
                                            title="This field is required">*</span></label>
                                    <input class="text-input " name="password" maxlength="70" type="password"
                                        id="password" value="" autocomplete="off" required="true">

                                    <span class="wppb-description-delimiter"> </span></li>

                                <li class="wppb-form-field wppb-default-repeat-password" id="passw2">
                                    <label for="passw2">Repeat Password<span class="wppb-required"
                                            title="This field is required">*</span></label>

                                    <input class="text-input " name="passwordConf" maxlength="70" type="password"
                                        id="password_conf" value="" autocomplete="off" required="true"></li>

                                <li class="wppb-form-field wppb-default-biographical-info" id="wppb-form-element-14">
                                    <label for="description">Introduction</label>
                                    <textarea rows="5" name="description" maxlength=""
                                        class="default_field_description " id="description" wrap="virtual">

                </textarea></li>
                            </ul>

                            <p class="submit button">
                                <input type="submit" value="Update">
                            </p>

                        </form>

                    </article>
                </div>
                <!-- end of page content -->
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>


                            <li><a class="bbp-forum-title" href="#">Baby
                                    Growth</a></li>


                            <li><a class="bbp-forum-title" href="#">Baby Photo
                                    Sharing</a>
                            </li>


                            <li><a class="bbp-forum-title" href="#">Baby
                                    Safety</a></li>


                            <li><a class="bbp-forum-title" href="#">Breastfeeding</a></li>


                            <li><a class="bbp-forum-title" href="#">Early
                                    Childhood
                                    Education</a></li>


                        </ul>

                    </section>
                </aside>

            </div>
        </div>
    </div>
    <!-- End of Page Container -->


    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Why BabyCaring?</h3>
                        <div class="textwidget">
                            <p>Instead of drowning yourself into loads of unrelated information, Babycaring gives you an
                                opportunity to simply
                                search for your question by typing key words, and find related questions and answers.
                            </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Consultation</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>Do you need help from certified experts? Simply click <a href="/askexpert">here</a>
                                    to start your consultation!</li>
                            </ul>
                        </div>

                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>
                            <li><a href="#" title="Baby Growth">Baby Growth</a> </li>
                            <li><a href="#" title="Baby Photo Sharing">Baby Photo Sharing</a></li>
                            <li><a href="#" title="Baby Safety">Baby Safety</a></li>
                            <li><a href="#" title="Breastfeeding">Breastfeeding</a></li>

                        </ul>
                    </section>
                </div>


                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                            <li><a href="/loggedin">Home</a></li>
                            <li><a href="/loggedin/createpost">Ask Question</a></li>
                            <li><a href="/logout">Log Out</a></li>
                            <li><a href="/loggedin/profile">Edit Profile</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </div>
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright &copy; 2019.BabyCaring All rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->


    <script type="text/javascript">
        var passWordField = document.getElementById('password')
        var passWordConfirmField = document.getElementById('password_conf')
        var form = document.getElementById('login')
        function validateMyForm() {
            if (passWordField.value != passWordConfirmField.value) {
                alert("Passwords do not match. Please try again.");
            } else {
                form.submit()
            }
        }
    </script>

</body>

</html>